@{
    ViewBag.Title = "Page not found. (Error 404)";
}

<h1>Ошибка 404.</h1>
<h2>К сожалению, данной страниы не существует.</h2>
<p>@Session["TransactionError"]</p>
<p>Пожалуйста, перейдите на @Html.ActionLink("главную страницу", "Index", "Home").</p>