@{
    ViewBag.Title = "HTTP Error 500 Internal server error";
}

<h1>Ошибка 500</h1>
<h2>Внутренняя ошибка сервера.</h2>
<p>@Session["TransactionError"]</p>
<p>К сожалению, сервер не смог обработать ваш  запрос. Пожалуйста, обратитесь к администратору системы.</p>
