<div class="head_b">
    <div class="style_b">
        @Html.ActionLink("Основной", "Index", "Home", new { res = false, IsMiniStyle = "default" }, null) | 
        @Html.ActionLink("Минималистичный", "Index", "Home", new { res = false, IsMiniStyle = "mini" }, null)
    </div>
    <div class="head_text">
        <h2>Система «Дежурный Пульт»</h2>
        <p class="head_desc">
            Система предназначена для автоматизации работы дежурной части полиции по приему, обработке и реагированию на заявления граждан.
        </p>
    </div>
</div>