@model DutyPanel.Models.LeavingGroup

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LeavingGroup</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeLeaving)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeLeaving)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
